*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F3F5FC
}

header{
    width: 95%;
    padding: 20px;
    margin: auto;
}

.container{
    width: 95%;
}

section .boxLeft{
    position: relative;
    width: 70%;
    height: 800px;
    float: left;
}

.reading{
    width: 70%;
    min-width: 700px;
    height: 90%;
    margin: 50px auto;
    text-align: center;
}

.reading textarea{
    width: 70%;
    height: 50%;
    margin: 50px auto;
    color: #0A3871;
    font-size: 32px;
    resize: none;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    background: rgba(0, 0, 0, 0);
}

aside .boxRight{
    position: relative;
    width: 30%;
    height: 800px;
    float: right;
}

.boxOn{
    width: 70%;
    min-width: 400px;
    height: 90%;
    margin: 50px auto;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.boxOn textarea{
    width: 70%;
    height: 50%;
    margin: 20px auto;
    color: #495057;
    font-size: 19px;
    resize: none;
    border: none;
    cursor: default;
    font-weight: bold;
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    background: rgba(0, 0, 0, 0);
}

::placeholder{
    color: #0A3871;
}

textarea:focus{
    border: none;
    outline: none
}

.boxOn img{
    margin: 100px auto 0;
    background: rgba(0, 0, 0, 0);
    width: 70%;
}

.boxOn h3{
    color: #343A40;
    font-size: 1.5em;
    font-weight: bold;
    width: 70%;
    margin: 15px auto;
    background: rgba(0, 0, 0, 0);
}

#msg-error{
    padding: 25px;
    background: rgba(0, 0, 0, 0);
}

.btn-section{
    background: #D8DFE8;
    color: #0A3871;
    font-size: 1.5em;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    margin: 10px 15px;
    border: 2px solid #0A3871;
    cursor: pointer;
    transition: 0.5s
}

.btn-section:hover{
    background: #0A3871;
    color: #D8DFE8;
    font-size: 1.5em;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    margin: 10px 15px;
    border: 2px solid #0A3871;
    cursor: pointer;
}

.btnCopy{
    background: #ffffff;
    color: #0A3871;
    font-size: 1.5em;
    width: 328px;
    height: 67px;
    margin-left: 35px;    
    border-radius: 24px;
    border: 2px solid #0A3871;
    cursor: pointer;
    transition: 0.5s;
    display:none;
}

.btnCopy:hover{
    background: #0A3871;
    color: #D8DFE8;
    font-size: 1.5em;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 2px solid #0A3871;
    cursor: pointer;    
}

footer{
    text-align: center;
    color: #0A3871;
    padding: 5px;
}

footer img{
    width: 25px;
    margin: 5px 2px;
}

@media screen and (max-width:280px) {

    section .boxLeft{
        min-width: fit-content;
    }

    section .boxRigh{
        min-width: fit-content;
    }

    .boxOn{
        position: relative;
        left: 15px;
    }

    .boxOff{
        position: relative;
        left: 40px;
    }

    footer{
        text-align: center;
        color: #0A3871;
        padding: 10px;
    }

    footer p{
        display: none;
    }
    
    footer img{
        position: relative;
        left: 45px;
        width: 50px;
        margin: 10px 2px;
    }
}

@media screen and (max-width:1000px) {

    .container{
        width: 100%;
    }

    section .boxLeft{
        width: 100%;
        height: auto;
    }

    .reading{
        width: 100%;
        margin: 0;
        min-width: fit-content;
    }

    .reading textarea{
        width: 90%;
        height: 250px;
        margin: 0;
    }

    aside .boxRight{
        width: 100%;
        height: auto;
    }

    .boxOn{
        width: 90%;
        margin: 20px auto;
        min-width: fit-content;
    }

    .boxOn textarea{
        width: 90%;
        height: 150px;
        margin: 15px auto;
    }

    .boxOff{
        width: 90%;
        margin: 20px auto;
        min-width: fit-content;
    }

    .boxOff img{
        display: none;
    }

    .boxOff h3{
        padding: 25px 0 0;
        font-size: 1.5em;
    }

    .boxOff p{
        padding: 0 0 25px;
        font-size: 1em;
    }

    .btn-aside{
        margin: 0 0 25px;
    }

   #msg-error{
        padding: 10px;
    }

    footer{
        text-align: center;
        color: #0A3871;
        padding: 10px;
    }
    
    footer img{
        width: 50px;
        margin: 10px 2px;
    }
}